<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>

<h3>주문 목록</h3>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        <th>구매자</th>
        <th>주문일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="o : ${orders}">
        <td th:text="${o.id}"></td>
        <td th:text="${o.itemName}"></td>
        <td th:text="${o.price}"></td>
        <td th:text="${o.count}"></td>
        <td th:text="${o.member != null ? o.member.username : '알수없음'}"></td>
        <td th:text="${o.created}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>