<!-- /templates/layout/fragments/postRecommendBox.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="recommendBox(boardType, post, isRecommended)">

    <section class="post-recommend-section">
        <button type="button"
                class="recommend-box js-post-action"
                data-action="recommend"
                th:data-board-type="${boardType}"
                th:data-post-id="${post.id}"
                th:classappend="${isRecommended} ? ' recommend-box-active' : ''">

            <span class="recommend-icon">👍</span>

            <span class="recommend-count js-recommend-count"
                  th:attr="data-post-id=${post.id}"
                  th:text="${post.recommendCount}">0</span>
        </button>
    </section>

</div>

</body>
</html>
