<!-- board/item/write.html -->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/fragments/base}">
<head>
    <title th:with="title='Item 작성'">Item 작성</title>
</head>
<body class="board board-item">
<div layout:fragment="content">

    <main class="board-container">

        <h2 class="board-title">아이템 등록</h2>
        <!-- form fragment 재사용 -->
        <div th:replace="~{layout/fragments/form :: itemForm(@{/item/add}, '등록')}"></div>

    </main>
</div>
</body>
</html>
